---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  name: volumes.rook.io
spec:
  group: rook.io
  names:
    kind: Volume
    listKind: VolumeList
    plural: volumes
    shortNames:
    - rv
    singular: volume
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          attachments:
            items:
              properties:
                clusterName:
                  type: string
                mountDir:
                  type: string
                node:
                  type: string
                podName:
                  type: string
                podNamespace:
                  type: string
                readOnly:
                  type: boolean
              required:
              - clusterName
              - mountDir
              - node
              - podName
              - podNamespace
              - readOnly
              type: object
            type: array
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
        required:
        - attachments
        - metadata
        type: object
    served: true
    storage: true
