apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: ocs-prometheus
    role: alert-rules
  name: prometheus-ocs-rules
  namespace: openshift-storage
spec:
  groups:
  - name: ocs_performance.rules
    rules:
    - expr: |
        sum by (namespace, managedBy) (topk by (ceph_daemon) (1, label_replace(ceph_disk_occupation{job="rook-ceph-mgr"}, "device", "$1", "device", "/dev/(.*)")) * on(instance, device) group_left topk by (instance,device) (1, (rate(node_disk_read_time_seconds_total[1m]) / (clamp_min(rate(node_disk_reads_completed_total[1m]), 1)))))
      record: cluster:ceph_disk_latency_read:join_ceph_node_disk_rate1m
    - expr: |
        sum by (namespace, managedBy) (topk by (ceph_daemon) (1, label_replace(ceph_disk_occupation{job="rook-ceph-mgr"}, "device", "$1", "device", "/dev/(.*)")) * on(instance, device) group_left topk by (instance,device) (1, (rate(node_disk_write_time_seconds_total[1m]) / (clamp_min(rate(node_disk_writes_completed_total[1m]), 1)))))
      record: cluster:ceph_disk_latency_write:join_ceph_node_disk_rate1m
  - name: ODF_standardized_metrics.rules
    rules:
    - expr: |
        ceph_health_status
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_health_status
    - expr: |
        ceph_cluster_total_bytes
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_raw_capacity_total_bytes
    - expr: |
        ceph_cluster_total_used_raw_bytes
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_raw_capacity_used_bytes
    - expr: |
        sum by (namespace, managedBy, job, service) (rate(ceph_pool_wr[1m]) + rate(ceph_pool_rd[1m]))
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_iops_total_bytes
    - expr: |
        sum by (namespace, managedBy, job, service) (rate(ceph_pool_wr_bytes[1m]) + rate(ceph_pool_rd_bytes[1m]))
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_throughput_total_bytes
    - expr: |
        sum by (namespace, managedBy, job, service) (topk by (ceph_daemon) (1, label_replace(ceph_disk_occupation{job="rook-ceph-mgr"}, "device", "$1", "device", "/dev/(.*)")) * on(instance, device) group_left() topk by (instance,device) (1, ((rate(node_disk_read_time_seconds_total[1m]) / (clamp_min(rate(node_disk_reads_completed_total[1m]), 1))) + (rate(node_disk_write_time_seconds_total[1m]) / (clamp_min(rate(node_disk_writes_completed_total[1m]), 1))))))
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_latency_seconds
    - expr: |
        sum (ocs_objectbucket_objects_total)
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_objects_total
    - expr: |
        sum (ocs_objectbucket_count_total)
      labels:
        system_type: OCS
        system_vendor: Red Hat
      record: odf_system_bucket_count
  - name: odf-obc-quota-alert.rules
    rules:
    - alert: ObcQuotaBytesAlert
      annotations:
        description: ObjectBucketClaim {{ $labels.objectbucketclaim }} has crossed
          80% of the size limit set by the quota(bytes) and will become read-only
          on reaching the quota limit in namespace:cluster {{ $labels.namespace }}:{{
          $labels.managedBy }}. Increase the quota in the {{ $labels.objectbucketclaim
          }} OBC custom resource.
        message: OBC has crossed 80% of the quota(bytes) in namespace:cluster {{ $labels.namespace
          }}:{{ $labels.managedBy }}.
        runbook_url: https://github.com/openshift/runbooks/blob/master/alerts/openshift-container-storage-operator/ObcQuotaBytesAlert.md
        severity_level: warning
        storage_type: RGW
      expr: |
        (ocs_objectbucketclaim_info * on (namespace, objectbucket, managedBy) group_left() (ocs_objectbucket_used_bytes/ocs_objectbucket_max_bytes)) > 0.80 < 1
      for: 10s
      labels:
        severity: warning
    - alert: ObcQuotaObjectsAlert
      annotations:
        description: ObjectBucketClaim {{ $labels.objectbucketclaim }} has crossed
          80% of the size limit set by the quota(objects) and will become read-only
          on reaching the quota limit in namespace:cluster {{ $labels.namespace }}:{{
          $labels.managedBy }}. Increase the quota in the {{ $labels.objectbucketclaim
          }} OBC custom resource.
        message: OBC has crossed 80% of the quota(object) in namespace:cluster {{
          $labels.namespace }}:{{ $labels.managedBy }}.
        runbook_url: https://github.com/openshift/runbooks/blob/master/alerts/openshift-container-storage-operator/ObcQuotaObjectsAlert.md
        severity_level: warning
        storage_type: RGW
      expr: |
        (ocs_objectbucketclaim_info * on (namespace, managedBy, objectbucket) group_left() (ocs_objectbucket_objects_total/ocs_objectbucket_max_objects)) > 0.80 < 1
      for: 10s
      labels:
        severity: warning
    - alert: ObcQuotaBytesExhausedAlert
      annotations:
        description: ObjectBucketClaim {{ $labels.objectbucketclaim }} has crossed
          the limit set by the quota(bytes) and will be read-only now in namespace:cluster
          {{ $labels.namespace }}:{{ $labels.managedBy }}. Increase the quota in the
          {{ $labels.objectbucketclaim }} OBC custom resource immediately.
        message: OBC reached quota(bytes) limit in namespace:cluster {{ $labels.namespace
          }}:{{ $labels.managedBy }}.
        runbook_url: https://github.com/openshift/runbooks/blob/master/alerts/openshift-container-storage-operator/ObcQuotaBytesExhausedAlert.md
        severity_level: error
        storage_type: RGW
      expr: |
        (ocs_objectbucketclaim_info * on (namespace, managedBy, objectbucket) group_left() (ocs_objectbucket_used_bytes/ocs_objectbucket_max_bytes)) >= 1
      for: 0s
      labels:
        severity: critical
    - alert: ObcQuotaObjectsExhausedAlert
      annotations:
        description: ObjectBucketClaim {{ $labels.objectbucketclaim }} has crossed
          the limit set by the quota(objects) and will be read-only now in namespace:cluster
          {{ $labels.namespace }}:{{ $labels.managedBy }}. Increase the quota in the
          {{ $labels.objectbucketclaim }} OBC custom resource immediately.
        message: OBC reached quota(object) limit in namespace:cluster {{ $labels.namespace
          }}:{{ $labels.managedBy }}.
        runbook_url: https://github.com/openshift/runbooks/blob/master/alerts/openshift-container-storage-operator/ObcQuotaObjectsExhausedAlert.md
        severity_level: error
        storage_type: RGW
      expr: |
        (ocs_objectbucketclaim_info * on (namespace, managedBy, objectbucket) group_left() (ocs_objectbucket_objects_total/ocs_objectbucket_max_objects)) >= 1
      for: 0s
      labels:
        severity: critical
  - name: external-cluster-services-alert.rules
    rules:
    - alert: ClusterObjectStoreState
      annotations:
        description: Cluster Object Store is in unhealthy state for more than 15s.
          Please check Ceph cluster health or RGW connection in namespace:cluster
          {{ $labels.namespace }}:{{ $labels.managedBy }}.
        message: Cluster Object Store is in unhealthy state. Please check Ceph cluster
          health or RGW connection in namespace:cluster {{ $labels.namespace }}:{{
          $labels.managedBy }}.
        runbook_url: https://github.com/openshift/runbooks/blob/master/alerts/openshift-container-storage-operator/ClusterObjectStoreState.md
        severity_level: error
        storage_type: RGW
      expr: |
        ocs_rgw_health_status{job="ocs-metrics-exporter"} == 2
      for: 15s
      labels:
        severity: critical
  - name: external-ocs-encryption-alert.rules
    rules:
    - alert: KMSServerConnectionAlert
      annotations:
        description: Storage Cluster KMS Server is in un-connected state for more
          than 5s. Please check KMS config in namespace:cluster {{ $labels.namespace
          }}:{{ $labels.managedBy }}.
        message: Storage Cluster KMS Server is in un-connected state. Please check
          KMS config in namespace:cluster {{ $labels.namespace }}:{{ $labels.managedBy
          }}.
        severity_level: error
        storage_type: ceph
      expr: |
        ocs_storagecluster_kms_connection_status{job="ocs-metrics-exporter"} == 1
      for: 5s
      labels:
        severity: critical
  - name: odf-operator-condition-alerts.rules
    rules:
    - alert: ODFOperatorNotUpgradeable
      annotations:
        description: ODF Operator is not upgradeable (Reason: {{ $labels.reason }}). Please resolve the issue to allow upgrades. See the Runbook for more details.
        message: ODF Operator is marked as not upgradeable.
        runbook_url: https://github.com/openshift/runbooks/blob/master/alerts/openshift-container-storage-operator/ODFOperatorNotUpgradeable.md
        severity_level: warning
      expr: |
        odf_operator_upgradeable_status{job="ocs-metrics-exporter"} == 0
      for: 60s
      labels:
        severity: warning
