---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ocs-metrics-exporter
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - monitoring.coreos.com
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  - persistentvolumeclaims
  - nodes
  - pods
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ceph.rook.io
  resources:
  - cephobjectstores
  - cephclusters
  - cephblockpools
  - cephblockpoolradosnamespaces
  - cephfilesystemsubvolumegroups
  - cephrbdmirrors
  verbs:
    - get
    - list
    - watch
- apiGroups:
  - quota.openshift.io
  resources:
  - clusterresourcequotas
  verbs:
    - get
    - list
    - watch
- apiGroups:
  - objectbucket.io
  resources:
  - objectbuckets
  - objectbucketclaims
  verbs:
    - get
    - list
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
    - get
    - list
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
    - get
    - list
    - watch
- apiGroups:
  - ocs.openshift.io
  resources:
  - storageconsumers
  - storageclusters
  - storageautoscalers
  verbs:
    - get
    - list
    - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - operatorconditions
  verbs:
    - get
    - list
    - watch
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ocs-metrics-exporter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: ocs-metrics-exporter
subjects:
- kind: ServiceAccount
  name: ocs-metrics-exporter
  namespace: openshift-storage
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ocs-metrics-svc
  namespace: openshift-storage
rules:
 - apiGroups:
   - ""
   resources:
    - services
    - endpoints
    - pods
   verbs:
    - get
    - list
    - watch
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ocs-metrics-svc
  namespace: openshift-storage
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: ocs-metrics-svc
subjects:
- kind: ServiceAccount
  name: prometheus-k8s
  namespace: openshift-monitoring
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ocs-metrics-reader
rules:
  - nonResourceURLs: ["/metrics", "/healthz"]
    verbs: ["get"]
